html, body {
    height: 100%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 8pt;
}

@keyframes fade_anim {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { display:none; opacity:0; }
}

@keyframes fade_in {
  0%   { opacity:0; }
  100% { opacity:1; }
}


.container{
	text-align: center;
}

.main_img {
	opacity: 0;
	animation: 5s fade_anim;
	animation-fill-mode: forwards;

	width: 40vw;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.main_titlu {
	opacity: 0;
	animation: 5s fade_anim;
	animation-fill-mode: forwards;
	animation-delay: 5s;

	width: 60vw;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.main_sunete {
	opacity: 0;
	animation: 5s fade_in;
	animation-fill-mode: forwards;
	animation-delay: 10s;
}

td { padding: 20px; }

td img { width: 60vw; max-width: 400px; transition: 0.5s; }

.note {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    max-width: 400px;
    border: 1px dotted #bbb;
}

.audio_controls {
	position: absolute;
	width: 10vw;
	height: 20vw;
	margin: auto;
    position: absolute;
    top: 0; left: -60vw; bottom: 0; right: 0;
}

.andrei {
	background: url('img/andrei.jpg');
	background-size: cover;
	background-position: center;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

